
<div class="card h-100 bg-dark border-secondary hover-card" 
     data-bs-toggle="modal" 
     data-bs-target="#editRateModal"
     data-pair-id="{{ pair.id }}"
     data-give-rate="{{ pair.give_rate }}"
     data-get-rate="{{ pair.get_rate }}">
  <div class="card h-100 bg-dark border-secondary hover-card">
    <div class="card-body p-2">
      <div class="row g-3">
        <!-- Отдаваемая валюта -->
        <div class="col-6">
          <div class="bg-black bg-opacity-25 rounded p-2 h-100">
            <div class="d-flex align-items-center gap-3 justify-content-center">
              <img class="rounded-circle" src="{{ pair.give_currency.logo.url }}" width="35" height="35" alt="">
              <div>
                <div class="h5 mb-0 text-white">{{ pair.give_rate }}</div>
                {% comment %} <div class="h5 mb-0 text-white">{{ pair.give_currency.code }}</div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

        <!-- Получаемая валюта -->
        <div class="col-6">
          <div class="bg-black bg-opacity-25 rounded p-2 h-100">
            <div class="d-flex align-items-center gap-3 justify-content-center">
              <img class="rounded-circle" src="{{ pair.get_currency.logo.url }}" width="35" height="35" alt="">
              <div>
                <div class="h5 mb-0 text-white">{{ pair.get_rate }}</div>
                {% comment %} <div class="h5 mb-0 text-white">{{ pair.get_currency.code }}</div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

        <!-- Статус и время -->
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center small text-white-50">
            <div class="d-flex align-items-center gap-2">
              <span class="status-dot rounded-circle {{ pair.is_active|yesno:'bg-success,bg-danger' }}"></span>
              {{ pair.is_active|yesno:"Активен,Не активен" }}
            </div>
            <div>
              <i class="bi bi-clock-history me-1"></i>
              {{pair.updated_at|date:"H:i d.m.y"}}
            </div>
          </div>
        </div>
      

      </div>
    </div>
  </div>
</button>
