<nav class="navbar navbar-dark bg-dark fixed-bottom border-top border-secondary p-0">
  <div class="container-fluid">
    <div class="row w-100 justify-content-around align-items-center gx-0">

      <!-- Выход -->
      <div class="col text-center">
        <form action="{% url 'app:logout' %}" method="post" class="w-100">
          {% csrf_token %}
          <button type="submit" class="btn p-0 w-100">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-escape text-white fs-3"></i>
            </div>
          </button>
        </form>
      </div>

      <!-- Добавить обменник -->
      <div class="col text-center">
        <button type="button" id="add_btn" 
                class="btn btn-warning d-inline-flex align-items-center justify-content-center shadow-sm w-100"
                style="height: 45px; border-width: 4px; border-radius: 8px 8px 0 0;"
                data-bs-toggle="modal" 
                data-bs-target="#addExchangeModal">
          <i class="bi bi-plus-circle-fill fs-3 m-0 p-0 text-dark"></i>
        </button>
      </div>


      <!-- Баланс -->
      <div class="col text-center">
        <button type="button" id="add_balanse" 
                class="btn p-0 w-100"
                data-bs-toggle="modal" 
                data-bs-target="#balanceModal">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-bank text-white fs-3"></i>
          </div>
        </button>
      </div>

    </div>
  </div>
</nav>
