{% extends 'layout/basic.html' %} 
{% load static %} 
{% block static %}
<link rel="stylesheet" href="{% static 'app/css/ex_selection.css' %}" />
{% endblock %}

{% block content %}
<section class="container">

  <!-- HEADER INCLUDE -->
  {% include 'app/include/menu_select_include.html' %}
  <!-- END HEADER INCLUDE -->

  <!-- EXCHANGE CARDS INCLUDE -->
  {% include 'app/include/card_exchange_include.html' %}
  <!-- END EXCHANGE CARDS INCLUDE -->

  <!-- ADD BUTTON INCLUDE -->
  {% include 'app/include/add_btn_include.html' %}
  <!-- END ADD BUTTON INCLUDE -->
 
  <!-- MODALS INCLUDE -->
  {% include 'app/include/modals_add_exchange_include.html' %}
  <!-- END MODALS INCLUDE -->

</section>

{% endblock %}

{% block scripts %}
<script>
  const userBalance = {{user.balance}};
  const exchangePrice = {{exchange_price}};  
</script>
<script src="{% static 'app/js/ex_selection.js' %}"></script>
{% endblock %}