{% extends 'layout/basic.html' %} 
{% load static %} 

{% block static %}
<link rel="stylesheet" href="{% static 'app/css/ex_selection.css' %}" />
{% endblock %}

{% block content %}

<main class="container-fluid">

  {% if user_exchanges%}
  <h1 class="text-center text-white">Ваши обменники:</h1>
  {% endif %}

  <section class="exchange-cards">
    <div class="row justify-content-center g-3">
      {% for exchange in user_exchanges %}
      <article class="col-12 col-md-6 col-lg-4">
        <a href="{% url 'app:exchange_detail' exchange.slug %}" class="text-decoration-none">
          {% include 'app/includes/card_exchange_include.html' %}
        </a>
      </article>
      {% empty %}
      <div class="col-12 text-center">
        <h1 class="text-center text-white">Создайте свой первый обменник</h1>
      </div>
      {% endfor %}
    </div>
  </section>

  <nav>
    {% include 'app/includes/menu_select_include.html' %}
  </nav>

  {% include 'app/includes/modals_add_exchange_include.html' %}
</main>
{% endblock %}

{% block scripts %}

<script>
  const userBalance = {{user.balance}};
  const exchangePrice = {{exchange_price}};  
</script>

<script src="{% static 'app/js/ex_selection.js' %}"></script>
{% endblock %}
