{% extends 'layout/basic.html' %} 
{% load static %} 

{% block static %}
<link rel="stylesheet" href="{% static 'app/css/ex_selection.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/ex_detali.css' %}" />
{% endblock %} 

{% block content %}


<main class="container-fluid">

  <!-- карточка обменника -->
  <section class=''>
    <div class="row justify-content-center g-3">
      <article class="col-12 col-md-8 col-lg-6">
        {% include 'app/includes/card_exchange_include.html' %}
      </article>
    </div>
  </section>

  <!-- карточка обменного курса -->
  <section class="exchange-cards">
    <div class="row justify-content-center g-3">
      <article class="col-12 col-md-8 col-lg-6">
        {% include 'app/includes/card_rate_include.html' %}
      </article>
    </div>
  </section>
      

  <nav>
    {% include 'app/includes/menu_detali_include.html' %}
  </nav>

  {% include 'app/includes/modals_detail_include.html' %}
</main>




    {% comment %}



  {# START exchange_tabs_content_include.html #}
  <div class="mar_10_10">
    <div class="tabs-container">
      <div class="tabs">
          <div class="tab active" data-content="currencies">Мои пары</div>
          <div class="tab" data-content="comments">Отзывы</div>
          <div class="tab-line"></div>
      </div>
      <div class="content " id="currencies-content">
        {% for pair in exchange_pair %} 

          <div class="">
            <div class='exchange-box' data-pair-id="{{ pair.id }}" onclick="openEditPairModal(this)">
              <div class="exchange-info">
                <div class="exchange-logo">
                  <img src="{{ exchange.logo.url }}" class="exchange-img" alt="Логотип обменника"></img>
                  {% if exchange.has_verified %}
                    <img class="icon" src="{{ exchange.verifications.template.logo.url }}" alt="Verification Logo" />
                  {% endif %}
                  <div class="rating">
                    <div class="stars-outer">
                        ★★★★★
                        <div class="stars-inner" style="width: calc({{ exchange.rating }} * 20%)">
                            ★★★★★
                        </div>
                    </div>
                    <span class="rating-number">({{ exchange.rating }})</span>
                  </div>
                </div>
                <div class="wr_r_t">
                  <h2>{{ pair.exchange }}</h2>
                  <div class='wr_deliivery'>
                    {% if exchange.has_active_delivery %}
                      <P> {{ exchange.delivery.template.name }} <br> {{ exchange.delivery.price }} {{ exchange.delivery.currency_delivery.code }} ≈ {{ exchange.delivery.delivery_time }} час.</P>
                      <img class="icon_delivery" src="{{ exchange.delivery.template.logo.url }}" alt="delivery Logo" />
                    {% endif %} 
                  </div>
                </div>
              </div>
    
              <div><hr></div>

              <div class='wr_rate_info '>
                <div class="give_info">
                  <div class="">
                    {{ pair.give_rate }}
                  </div>
                  <img id="" class="promo_logo" src="{{ pair.give_currency.logo.url }}" alt="">
                </div>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#FFFFFF"><path d="M200-324.62v-70.76h560v70.76H200Zm0-240v-70.76h560v70.76H200Z"/></svg>
                </span>
                <div class="get_info">
                  <div class="">
                    {{ pair.get_rate }}
                  </div>
                  <img id="" class="promo_logo" src="{{ pair.get_currency.logo.url }}" alt="">
                </div>
              </div>
                <div class="wr_info_text_rate">
                  <div>
                    {% if pair.is_active %}
                    <span class='com_date'>Активен:
                      <div class="is_active"></div>
                    </span>
                    {% else %}
                    <span class='com_date'>Не активен:
                      <div class="no_active"></div>
                    </span>
                    {% endif%}
                  </div>
                  <p class="com_date">Обновлено: {{pair.updated_at|date:"d.m.Y"}} </p>
                </div>
            </div>
          </div>

        {% empty %}
            <p>У вас нет пар обмена.</p>
        {% endfor %}

        <div id="modal-edit-pair" class="modal-overlay">
          <div class="modal-content">
            <button id="close-edit-pair" type="button" class="close-btn" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">&times;</button>
            
            <h2>Редактировать пару обмена</h2>

            
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <input type="hidden" name="form_type" value="edit_pair">
              <input type="hidden" name="pair_id" id="edit-pair-id">

              <div class='wr_rate_info'>

                <div class="give_info">
                  <div class="">
                    <input type="number" name="give_rate" id="edit-give-rate" step="0.01" required>
                  </div>
                  <img id="edit-give-logo" class="give_logo" src="" alt="">
                </div>

                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF"><path d="M200-324.62v-70.76h560v70.76H200Zm0-240v-70.76h560v70.76H200Z"/></svg>
                </span>
                
                <div class="get_info">
                  <div class="">
                    <input type="number" name="get_rate" id="edit-get-rate" step="0.01" required>
                  </div>
                  <img id="edit-get-logo" class="get_logo" src="" alt="">
                </div>

              </div>

              <p class="error"></p>
              <button type="submit" class="btn">Сохранить</button>

            </form>

          </div>
        </div>
  
        <button id="add-pair-btn" type="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
            <path d="M466.08-300h30.77v-162.92H660v-30.77H496.85V-660h-30.77v166.31H300v30.77h166.08V-300Zm14.32 180q-75.18 0-140.29-28.34-65.12-28.34-114.25-77.42-49.13-49.08-77.49-114.21Q120-405.11 120-480.37q0-74.49 28.34-140.07 28.34-65.57 77.42-114.2 49.08-48.63 114.21-76.99Q405.11-840 480.37-840q74.49 0 140.07 28.34 65.57 28.34 114.2 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.4q0 75.18-28.34 140.29-28.34 65.12-76.92 114.07-48.58 48.94-114.26 77.49Q554.81-120 480.4-120Zm.1-30.77q136.88 0 232.81-96.04 95.92-96.04 95.92-233.69 0-136.88-95.73-232.81-95.74-95.92-233.5-95.92-137.15 0-233.19 95.73-96.04 95.74-96.04 233.5 0 137.15 96.04 233.19 96.04 96.04 233.69 96.04ZM480-480Z"/></svg>
        </button>
      </div>
  
      <div class="content" id="comments-content" style="display: none;">
        <div class="flex_gap_20">
          {% for comment in comment %}
            <div class='exchange-box '>
              <p class='com_title'>{{ comment.author }} ({{ comment.rating }}/5)</p>
              <div><hr></div>
              <p class='com_text'>{{ comment.content }}</p>
              <p class='com_date'>{{ comment.created_at }}</p>
            </div>
          {% empty %}
              <p>У вас нет отзывов.</p>
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
  {# END exchange_tabs_content_include.html #}

  {# START modals_exchange_include.html #}
  <div class="mar_10_10">
    <div id="modal" class="modal-overlay">
      <div class="modal-content">
        
        <button id="close-modal" type="button" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">&times;</button>
        <h2>Добавить пару</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
  
          <div class="">
            <select name="give_currency" id="give-select" onchange="checkBestRate()">
              <option value="">Клиент отдает</option>
              {% for template in give_currency_templates %}
                <option value="{{ template.id }}" data-logo="{{ template.logo.url }}">
                  {{ template.name }} - {{ template.code }}
                </option>
              {% endfor %}
            </select>
          </div>
  
          <div class="">
            <select name="get_currency" id="get-select" onchange="checkBestRate()">
              <option value="">Клиент получает</option>
              {% for template in get_currency_templates %}
                <option value="{{ template.id }}" data-logo="{{ template.logo.url }}">
                  {{ template.name }} - {{ template.code }}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="best-rate-info">
            <h4>Лучшее предложение от: <span class="best-rate-exchange"></span></h4>
            <div class="best-rate-details">
              <div class="best-rate-values">
                <span class="best-give-rate"></span>
                <span>→</span>
                <span class="best-get-rate"></span>
              </div>
            </div>
          </div>


          <div class='wr_rate_info'>
            <div class="give_info">
              <div class="">
                {{ form.give_rate }}
              </div>
              <img id="" class="give_logo" src="" alt="">
            </div>
  
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                <path d="M200-324.62v-70.76h560v70.76H200Zm0-240v-70.76h560v70.76H200Z"/>
              </svg>
            </span>
            
            <div class="get_info">
              <div class="">
                {{ form.get_rate }}
              </div>
              <img id="" class="get_logo" src="" alt="">
            </div>
          </div>
  
          <p class="error"></p>
          <button type="submit" class="btn">ДОБАВИТЬ</button>
        </form>
      </div>
    </div>
  </div> 
  {# END modals_exchange_include.html #}
  
  {# START modals_verify_include.html #}
  <div class="mar_10_10">  
    <div class="modal-overlay" id="modal-verify">
      <div class="modal-content">
          <button id="close-modal-verify" type="button" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">&times;</button>
          <h2>Подключение сертификата</h2>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="verification">
              
              <div class="form-group">
                <select name="template" id="verification-select">
                    <option value="">Выберите тип верификации</option>
                    {% for template in verification_templates %}
                        <option value="{{ template.id }}" 
                                data-price="{{ template.price }}"
                                data-logo="{{ template.logo.url }}">
                            {{ template.name }}
                        </option>
                    {% endfor %}
                </select>
                
                <img id="selected-logo" class="verification-logo" src="" alt="">
              </div>
  
              <p>Стоимость: <span id="verification-price">0</span> coin</p>
              <p class="error verify"></p>
              <button type="submit" class="btn btn-primary btn-verify">Подключить</button>
          </form>
      </div>
  </div>

  <div id="modal-verify-info" class="modal-overlay">
    <div class="modal-content">
        <button id="close-verify-info" type="button" class="close-btn" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">&times;</button>
        
        <h2>Ваша верификация</h2>
        
        <div class="verify-info-content">
            <div class="verify-logo">
                <img src="{{ exchange.verifications.template.logo.url }}" alt="Verification Logo">
            </div>
            <div class="verify-details">
                <p><strong>Тип верификации:</strong> {{ exchange.verifications.template.name }}</p>
                <p><strong>Дата активации:</strong> {{ exchange.verifications.activated_at|date:"d.m.Y" }}</p>
                <p><strong>Действительна до:</strong> {{ exchange.verifications.expires_at|date:"d.m.Y" }}</p>
                <p class="verify-status {% if exchange.verifications.is_active %}active{% else %}inactive{% endif %}">
                    Статус: {% if exchange.verifications.is_active %}Активна{% else %}Неактивна{% endif %}
                </p>
              </div>
          </div>
      </div>
    </div>
  </div>
    {# END modals_verify_include.html #}

  {# START modals_delivery_include.html #}
  <div class="">
    <div class="delivery-info">
      <div id="modal-edit-delivery" class="modal-overlay">
        <div class="modal-content">
          <button id="close-edit-delivery" type="button" class="close-btn" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">&times;</button>
          <h2>Ваша доставку</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="delivery">
              <div class="">
                {{ delivery_form.template }}
              </div>
              <div class="">
                  {{ delivery_form.price }}
              </div>
              <div class="">
                  {{ delivery_form.currency_delivery }}
              </div>
              <div class="">
                  {{ delivery_form.delivery_time }}
              </div>
              <div class="">
                  {{ delivery_form.description }}
              </div>
              <p class="error delivery"></p>
              <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </div>
      </div>
  </div>

  <div class="">
    <div id="modal-delivery" class="modal-overlay">
        <div class="modal-content">
            <button id="close-modal-delivery" type="button" class="close-btn" style="float: right; background: none; border: none; color: rgb(246, 255, 95); font-size: 32px;">
                &times;
            </button>
            <h2>Способ доставки</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="delivery">
              <div class="">
                <select name="template" id="verification-select" class="form-control">
                  <option value="">Выберите вариант доставки</option>
                  {% for template in delivery_templates %}
                      <option value="{{ template.id }}">
                          {{ template.name }}
                      </option>
                  {% endfor %}
                </select>
              </div>
              <div class="">
                  {{ delivery_form.price }}
              </div>
              <div class="">
                {{ delivery_form.currency_delivery }}
              </div>
              <div class="">
                  {{ delivery_form.delivery_time }}
              </div>
              <div class="">
                  {{ delivery_form.description }}
              </div>
          
              <p class="error delivery"></p>
              <button type="submit" class="btn btn-primary">Подключить</button>
            </form>
          </div>
        </div>
    </div>
  </div>
  {# END bottom_nav_include.html #}

</section>

 {% endcomment %}



  
{% endblock %} 

{% block scripts %} 

  
<script src="{% static 'app/js/ex_detali.js' %}"></script>
<script src="{% static 'app/js/getRate.js' %}"></script>


{% endblock %}