{% extends 'layout/basic.html' %} {% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}" />
{% endblock %} {% block content %}

<div class="container">
  <h2>АВТОРИЗАЦИЯ</h2>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <div class="input-wrapper">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="">
            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" fill="rgb(246, 255, 95)"/>
          </svg>
        </span>
        <input type="text" name="username" id="username" placeholder="Имя" class="form-control" required />
      </div>
    </div>
    
    
    <div class="form-group">
      <div class="input-wrapper">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16" class="">
            <path d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z" fill="rgb(246, 255, 95)"/>
          </svg>
        </span>
        <input type="password" name="password" id="password" placeholder="*******" class="form-control" required />
      </div>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn">Войти</button>
    </div>

  </form>

  {% if form.errors %}
    <div class="alert error">

      {% for field in form %}

        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %} 

      {% endfor %} 

      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}

    </div>
  {% endif %}

</div>

{% endblock %}
