* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/fon3.png'); 
  background-size: cover;
  background-position: center;
  filter: blur(30px); 
  z-index: -1;
}

