.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stars-outer {
  position: relative;
  display: inline-block;
  color: #808080;
  font-size: 20px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f6ff5f;
}
