

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.input-group-text,
.form-control {
  height: 45px;
}

.form-control:focus {
  background-color: #1c1c1c;
  color: #fff;
  border-color: #565656;
  box-shadow: none;
}
